body{
    background-color: #000000;
    text-align: center;   
}

.titulo > img{
    width: 229px;
    height: 68px;

    margin-top: 40px;
}

h2{
    color: #FFFFFF;
    
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 32px;

    
    margin: 60px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: auto;
}

img{
    width: 160px;
    height: 160px;

    box-sizing: border-box;
    border-radius: 8px;
    
    transition: 0.5s;
}

.users{
    width: 160px;
    height: 160px;
    overflow: hidden;
}

.adicionar img:hover{
    border: 1.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
}

.users img:hover{
    transform: scale(1.5);
}

p{
    font-family: 'IBM Plex Sans';
    size: 14px;
    color: #9C9C9C;
}

input{
    width: 206px;
    height: 50px;
    color: #FFFFFF;
    background-color: #000000;
    
    border: 1.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;

    margin-top: 80px;
}

input:hover{
    width: 206px;
    height: 50px;
    color: #000000;
    background-color: #FFFFFF;
    
    border: 1.5px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
}